@tailwind base;
@tailwind components;
@tailwind utilities;

/* black */
@layer base {
    :root {
        /* 전역 변수 */
        --background: #ffffff;
        --forground: #000000;
        --max-width: 80rem;
        --demo-max-width: 64rem;
        --radius: 1rem;
        --dimmed: #00000066;
        --dimmed-text: #ffffff;
        /* 색상 */
        --col-header: #ffffff77;
        --col-sub-header: #ededed;
        --col-0: #ffffff;
        --col-1: #f9f9f9;
        --col-2: #dcdcdc;
        --col-3: #c0c0c0;
        --col-4: #a2a2a2;
        --col-5: #858585;
        --col-6: #686868;
        --col-7: #4d4c4c;
        --col-8: #313030;
        --col-9: #131212;
        --col-orange: #ff7a00;
        --col-orange-hover: #fd891d;
        --col-orange-active: #d36600;
        --col-orange-0: #ff7b0000;
        --col-orange-1: #ff7b0066;
        --col-orange-2: #ff7b0010;
        --col-orange-3: #ff7a00;
        /* 택스트 굵기 */
        --font-weight-thin: 150;
        --font-weight-extralight: 250;
        --font-weight-light: 350;
        --font-weight-reguler: 450;
        --font-weight-medium: 550;
        --font-weight-semibold: 650;
        --font-weight-bold: 750;
        --font-weight-extrabold: 850;
        --font-weight-black: 900;
        /* 그리드 */
        --grid-gutter: 1.25rem;
        /* 카드 색상 */
        --card-text: #131212;
        --card-background: #f3f3f3;
        --card-background-inverse: #323232;
        --card-background-active: #ff7b0010;
        --card-stroke: #eeedeb;
        --card-radius: 1rem;
        /* 터미널 색상 */
        --terminal-text: #ffffff;
        --terminal-background: #000000;
        /* 푸터 색상 */
        --footer-text: #9d9d9d;
        --footer-foreground: #232323;
        --footer-background: #15151a;
        /* 그림자 */
        --shadow: 0 0 0.75rem 0 #eeeeee;
        --shadow-active: 0 0.25rem 1rem 0 #dfdfdf;
    }
    .darkMode {
        /* 전역 변수 */
        --background: #191817;
        --forground: #ffffff;
        --max-width: 80rem;
        --demo-max-width: 64rem;
        --radius: 1rem;
        --dimmed: #00000066;
        --dimmed-text: #ffffff;
        /* 색상 */
        --col-header: #00000077;
        --col-sub-header: #121212;
        --col-0: #131212;
        --col-1: #313030;
        --col-2: #4d4c4c;
        --col-3: #686868;
        --col-4: #858585;
        --col-5: #a2a2a2;
        --col-6: #c0c0c0;
        --col-7: #dcdcdc;
        --col-8: #f9f9f9;
        --col-9: #ffffff;
        --col-orange: #ff7a00;
        --col-orange-hover: #fd891d;
        --col-orange-active: #d36600;
        --col-orange-0: #ff7b0000;
        --col-orange-1: #ff7b0066;
        --col-orange-2: #ff7b0010;
        --col-orange-3: #db6a009c;
        /* 택스트 굵기 */
        --font-weight-thin: 150;
        --font-weight-extralight: 250;
        --font-weight-light: 350;
        --font-weight-reguler: 450;
        --font-weight-medium: 550;
        --font-weight-semibold: 650;
        --font-weight-bold: 750;
        --font-weight-extrabold: 850;
        --font-weight-black: 900;
        /* 그리드 */
        --grid-gutter: 1.25rem;
        /* 카드 색상 */
        --card-text: #eceded;
        --card-background: #21201f;
        --card-background-inverse: #814100;
        --card-background-active: #ff7b0066;
        --card-stroke: #615448;
        --card-radius: 1rem;
        /* 푸터 색상 */
        --footer-text: #9d9d9d;
        --footer-foreground: #232323;
        --footer-background: #15151a;
        /* 그림자 */
        --shadow: 0 0 0.75rem 0 #111111;
        --shadow-active: 0 0.25rem 1rem 0 #202020;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@font-face {
    font-family: "Wanted Sans Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 400 1000;
    src: url("./assets/fonts/WantedSansVariable.woff2")
        format("woff2-variations");
}

@font-face {
    font-family: "Pretendard Variable";
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url("./woff2/PretendardVariable.woff2") format("woff2-variations");
}

@font-face {
    font-family: "D2Coding";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/D2Coding.ttf") format("truetype");
}

@font-face {
    font-family: "D2CodingBold";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/D2CodingBold.ttf") format("truetype");
}

* {
    font-family: "Pretendard Variable" !important;
    transition: background 0.3s, color 0.3s, border-color 0.3s;
}

body {
    background-color: var(--background);
}

.gridPage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gutter);
}

.card {
    background-color: var(--card-background);
    border: 1px solid var(--card-stroke);
    border-radius: var(--card-radius);
    color: var(--card-text);
}

.iconWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

.pageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    width: 100%;
    gap: 1.5rem;
    user-select: none;
}

.pageInfo > .pageName {
    font-size: 1rem;
    font-weight: 700;
    color: var(--col-8);
    padding-bottom: 0.25rem;
    border-bottom: 0.125rem solid var(--col-orange);
}

.pageInfo > .pageSlogan {
    width: 100%;
    text-align: center;
    font-size: 2.75rem;
    line-height: 3.5rem;
    font-weight: 800;
    color: var(--col-8);
}

.pageInfo > .pageSlogan > .description {
    line-height: 1.25rem;
    font-size: 1.25rem;
    font-weight: var(--font-weight-light);
    color: var(--col-5);
}

.pageInfo > .linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--col-0);
    border: 1px solid var(--card-stroke);
    font-size: 1rem;
    font-weight: var(--font-weight-reguler);
    color: var(--col-5);
    cursor: pointer;
    transition: 0.3s;
}

.pageInfo > .linkBtn:hover {
    background-color: var(--card-background);
    color: var(--col-8);
}

.article h1 {
    font-size: 2rem;
    font-weight: var(--font-weight-semibold);
    color: var(--col-9);
}

.article h2 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-semibold);
    color: var(--col-8);
}

.article h3 {
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    color: var(--col-7);
}

.article p {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--col-6);
}
.article span {
    font-size: 1rem;
    font-weight: var(--font-weight-reguler);
    color: var(--col-5);
}

.article ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}
.article ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}

.article strong {
    font-weight: var(--font-weight-medium);
    color: var(--col-orange);
}

.article table {
    table-layout: fixed;
    border-top: 2px solid var(--col-9);
    border-bottom: 2px solid var(--col-9);
}
.article table tr {
    border-bottom: 1px solid var(--col-9);
}

.article table tr th {
    width: 16%;
    min-width: max-content;
    font-size: 1rem;
    font-weight: var(--font-weight-semibold);
    color: var(--col-8);
    padding: 1rem;
}

.article table tr td {
    color: var(--col-8);
    padding: 1rem;
}

.article .callout {
    padding: 1.5rem 2rem;
    background-color: var(--card-background);
    border: 1px solid var(--card-stroke);
    color: var(--col-9);
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    padding: 0.625rem 1.25rem;
    min-width: 2.625rem;
    min-height: 2.625rem;
    background-color: var(--col-9);
    border: 1px solid var(--col-9);
    border-radius: 4rem;
    line-height: 0.875rem;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--col-0);
    scale: 1;
    transition: 0.3s;
}

.btn-primary {
    background-color: var(--col-orange);
    border: 1px solid var(--col-orange);
    color: var(--col-0) !important;
}

.btn.iconBtn {
    padding-left: 1rem;
}

.btn.iconOnlyBtn {
    padding: 0.625rem;
}

.btn.iconBtn > svg,
.btn.iconOnlyBtn > svg {
    stroke: var(--col-0);
}
.btn.iconBtn:active > svg,
.btn.iconOnlyBtn:active > svg {
    stroke: var(--col-9);
}

.btn:hover {
    background-color: var(--col-8);
    scale: 1.025;
}

.btn:active {
    background-color: var(--col-0);
    color: var(--col-9);
    scale: 0.975;
}

.btn-primary:hover {
    background-color: var(--col-orange-hover) !important;
}
.btn-primary:active {
    background-color: var(--col-orange-active) !important;
}

.badge {
    padding: 0.5rem 1rem;
    width: fit-content;
    border: 1px solid var(--col-orange);
    border-radius: 4rem;
    font-size: 1rem !important;
    font-weight: var(--font-weight-semibold) !important;
    color: var(--col-orange) !important;
}

.badge-sm {
    padding: 0.5rem 0.75rem;
    width: fit-content;
    border: 1px solid var(--col-orange);
    border-radius: 4rem;
    font-size: 0.875rem !important;
    font-weight: var(--font-weight-semibold) !important;
    color: var(--col-orange) !important;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    max-width: var(--max-width);
    animation: pageFadeIn 1s;
}
@keyframes pageFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.lucide,
.lucide-x,
.lucide > path {
    transition: 0.1s !important;
}

.popupWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    max-width: calc(100svw-2rem);
    background-color: var(--dimmed);
    z-index: 1001;
}

.popupWrap .popup {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 48rem;
    background-color: var(--col-0);
    border: 1px solid var(--card-stroke);
    border-radius: var(--card-radius);
    overflow: hidden;
}

.popupWrap .popup > .popupHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    padding-bottom: 0.5rem;
}

.popupWrap .popup > .popupHeader > svg {
    stroke-width: 2.3;
    color: var(--col-9);
}

.popupWrap .popup h1 {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--col-9);
}
.popupWrap .popup textarea {
    padding: 1rem;
    width: 100%;
    height: 20rem;
    background-color: var(--col-9);
    border-radius: var(--card-radius);
    font-size: 0.75rem;
    font-weight: var(--font-weight-light);
    color: var(--col-0);
}

.popupWrap .popup > .popupContent {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
    padding-bottom: 3rem;
    height: 32rem;
    background-color: var(--terminal-background);
    border-radius: var(--card-radius);
    font-size: 0.875rem;
    font-weight: var(--font-weight-reguler);
    color: var(--terminal-text);
    overflow-x: hidden;
    overflow-y: scroll;
}

.popupWrap .popup > progress {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 46rem;
    max-width: 46rem;
}

.popupWrap .popup > .gallaryWrap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
}

.popupWrap .popup > .gallaryWrap > .gallary {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--col-0);
    max-width: 100%;
    max-height: 16rem;
    overflow-x: scroll;
}

.popupWrap .popup > .gallaryWrap > .gallary::-webkit-scrollbar {
    width: 100%;
    height: 0.75rem;
    background-color: var(--card-background);
    border: 1px solid var(--card-stroke);
    border-radius: 4rem;
}

.popupWrap .popup > .gallaryWrap > .gallary::-webkit-scrollbar-thumb {
    height: 0.5rem;
    max-height: 0.5rem;
    background-color: var(--col-orange);
    border-radius: 4rem;
}

.popupWrap .popup > .gallaryWrap > .gallary > img {
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    animation: imgFadeIn 0.5s;
}

@keyframes imgFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popupWrap .popup > .popupContent,
.popupWrap .popup > .popupContent > p {
    font-family: "D2Coding" !important;
}

.popupWrap .popup > .popupContent::-webkit-scrollbar {
    width: 0.5rem;
    height: 100%;
    background-color: transparent;
}

.popupWrap .popup > .popupContent::-webkit-scrollbar-thumb {
    background-color: var(--col-1);
    border-radius: 4rem;
}

progress {
    width: 100%;
    height: 0.75rem;
    border-radius: 4rem;
    overflow: hidden;
    -webkit-appearance: none;
}

::-webkit-progress-bar {
    background-color: var(--col-8);
}

::-webkit-progress-value {
    background-color: var(--col-orange);
}
